APP_ENV=development
APP_PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/klab_booking
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000,http://localhost:3002

# DOKU Checkout
DOKU_ENV=sandbox
DOKU_CLIENT_ID=
DOKU_SECRET_KEY=
DOKU_MERCHANT_ID=
DOKU_CHECKOUT_SANDBOX_URL=https://api-sandbox.doku.com/checkout/v1/payment
DOKU_CHECKOUT_PRODUCTION_URL=https://api.doku.com/checkout/v1/payment
DOKU_CALLBACK_URL=http://localhost:3001/payments/doku/callback
DOKU_RETURN_URL=http://localhost:3002/checkout/result